@model IEnumerable<EstanzuelaEats.Common.Modelos.Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicacionProducto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicacionProducto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductoId })
        </td>
    </tr>
}

</table>
