@model IEnumerable<EstanzuelaEats.Common.Modelos.Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo Producto", "Create", new { }, new { @class = "btn btn-primary"})
</p>
<table class="table table-bordered table-Dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicacionProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencias)
        </th>
        <th>Opciones :3</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionProducto)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.ImagePath))
            {
                <img src="@Url.Content(item.ImageFullPath)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicacionProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Existencias)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProductoId }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Detalles", "Details", new { id=item.ProductoId }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ProductoId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
